@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  background-color: #000;
  color: #fff;
  /* color:rgb(117, 116, 116); */
  height: 100vh;
  width: 100vw;
}

@font-face{
  font-family: font1;
  src: url('./assets/fonts/font_1.woff2');
}

@font-face{
  font-family: font2;
  src: url('./assets/fonts/font_2.woff2');
}
@font-face{
  font-family: font3;
  src: url('./assets/fonts/font_3.woff2');
}
@font-face{
  font-family: font4;
  src: url('./assets/fonts/font_4.woff2');
}
@font-face{
  font-family: font5;
  src: url('./assets/fonts/font_5.woff2');
}
@font-face{
  font-family: font6;
  src: url('./assets/fonts/font-6.woff2');
}